---
import Layout from "@/layouts/RootLayout.astro";
import CallToAction from "@/sections/call-to-action.astro";
import Hero from "@/sections/hero.astro";
import Hosts from "@/sections/hosts.astro";
import InLiveNow from "@/sections/in-live-now.astro";
import LatestShorts from "@/sections/latest-shorts.astro";
import LatestStreams from "@/sections/latest-streams.astro";
import LatestVideos from "@/sections/latest-videos.astro";
import UpComing from "@/sections/up-coming.astro";
import { GET } from "./api/youtube";
import Programs from "@/sections/programs.astro";

let response = await GET(Astro);

const data = await response.json();

const { streams, videos, live, shorts, upcomings } = data;
---

<Layout
  title="Carajo Stream - Pagina Principal"
  description="Carajo Stream pagina web principal del canal de streaming Carajo en youtube"
>
  <main>
    <Hero />
    {live && <InLiveNow live={live} />}
    {upcomings.length > 0 && <UpComing upcomings={upcomings} />}
    <Programs />
    {streams.length > 0 && <LatestStreams streams={streams} />}
    <!-- <Hosts /> -->
    {shorts.length > 0 && <LatestShorts shorts={shorts} />}
    {videos.length > 0 && <LatestVideos videos={videos} />}
    <CallToAction />
  </main>
</Layout>
