---
import "@/styles/globals.css";

interface Props {
  title?: string;
  description?: string;
  ogImage?: URL;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
if (!Astro.props.ogImage) {
  Astro.props.ogImage = new URL("home.webp", canonicalURL);
}

const { title, description, ogImage = "/home.webp" } = Astro.props;
---

<!-- Meta esenciales -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta
  name="robots"
  content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
/>
<meta name="googlebot" content="index, follow" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical & Favicon -->
<link rel="canonical" href={canonicalURL.toString()} />
<link
  rel="shortcut icon"
  href={`${Astro.site}favicon.svg`}
  type="image/svg+xml"
/>
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/img/icons/apple-touch-icon.png" />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="theme-color" content="#000000" />

<!-- Title & Descripción -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Keywords SEO -->
<meta
  name="keywords"
  content="Javier Milei, Milei 2024, Liberalismo Argentina, Gordo Dan, Streaming liberal, Anarcocapitalismo, Política Argentina, Twitch Milei, CarajoStream, actualidad, X, Twitter, risas, entretenimiento"
/>

<!-- Google Site Verification -->
<meta
  name="google-site-verification"
  content="8NkhaNOxnwiM0xa44M867a1R-phEJqisP8XMcJYaQfE"
/>

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url.toString()} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(ogImage, Astro.url).toString()} />
<meta
  property="og:image:alt"
  content="Logo de CarajoStream y portada del stream"
/>
<meta property="og:site_name" content="CarajoStream" />
<meta property="og:locale" content="es_AR" />

<!-- Twitter Cards -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url.toString()} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta
  property="twitter:image"
  content={new URL(ogImage, Astro.url).toString()}
/>
<meta
  property="twitter:image:alt"
  content="Logo de CarajoStream y portada del stream"
/>
<meta property="twitter:site" content="@CarajoStream" />
<meta property="twitter:creator" content="@CarajoStream" />
<meta property="twitter:domain" content={new URL(Astro.url).hostname} />
