---
import { Button } from "@/components/ui/button";
import type { CategorizedVideos } from "@/types";
import { Play } from "lucide-react";

const { streams } = Astro.props as CategorizedVideos;
---

<section id="streams" class="w-full py-12 md:py-24 lg:py-32">
  <div class="container px-4 md:px-6">
    <h2
      class="mb-8 font-bold text-3xl tracking-tighter sm:text-4xl md:text-5xl"
    >
      Últimos Streams
    </h2>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
      {
        streams?.map((stream) => (
          <div class="group relative overflow-hidden rounded-lg shadow-lg">
            <img
              src={stream.thumbnails.standard.url}
              alt={`Video thumbnail ${stream.title}`}
              width={400}
              height={200}
              class="w-full object-cover"
            />
            <div class="p-4">
              <h3 class="mb-2 font-bold">{stream.title}</h3>
              <p class="text-gray-600 text-sm">{stream.publishedAt}</p>
            </div>
            <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 opacity-0 transition-opacity duration-300 group-hover:opacity-100">
              <a href={stream.url} target="_blank">
                <Button className="scale-0 transform bg-white text-purple-600 transition-transform duration-300 hover:bg-gray-100 group-hover:scale-100">
                  <Play className="mr-2 h-4 w-4" /> Reproducir
                </Button>
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
